#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Link
Icon[en_US]=gnome-panel-launcher
Name[en_US]=Wattion Fossil Repository @ softf1.com
URL=http://www.softf1.com/
Name=Martin Vahi home page
Icon=/opt/mmmv/mmmv_virtual_appliance_t1/icons/Ventspils_International_Radio_Astronomy_Center/icon_t1.jpeg
